.bestiary__title {
    margin: 0 auto 120px;
    height: 50px;
    width: 317px;
    color: #0062BD;
    font-family: Unbounded;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}