.header__logo{
    width: 105px;
    height: 61px;
}

@media screen and (max-width: 900px){
    .header__logo{
        margin-left: 18px;
    }
}

@media screen and (max-width: 420px){
    .header__logo{
        width: 61px;
        height: 36px;
        margin-top: 10px;
    }
}