.header{
    max-width: 1232px;
    width: 100%;
    margin: 16px auto 0;
    display: flex;
    height: 61px;
    justify-content: space-between;
    flex-direction: row;

}


@media screen and (max-width: 380px){
    .header{
        
       height: 55px; 
        
    }
} 