.locality__description-paragraph {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 394px;
    margin-top: 0;
    margin-bottom: 57px;
}