.locality__title{
    color: #0062BD;
    font-family: Unbounded;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 auto 124px;
}