.bestiary__description-subtitle {
    color: #F15A29;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0 0 0;
}